@charset "ISO-8859-1";

#logoUsu{
	
	margin-left: 50%;
	width: 200%;
}

#listaHoras{
	width: 400px;
}

#tablaHoras{ 
	display:inline;
	margin-right: 10px;
}
#imgLogin{
	width: 20%;
	margin-left: 40%;
}
.derechos{
		align-content: center;
		text-align: center;
	
	
}

#reg a{
	
	color: blue;
	font-weight: bold;
}
