<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<!-- <Database=hairdb;Data Source=us-cdbr-azure-central-a.cloudapp.net;User Id=bca9a7a997a820;Password=b9c3f278 -->
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
   <!--      <property name="hibernate.connection.password">my123$%sql</property>   -->
        <property name="hibernate.connection.password">altair</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hair</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.show_sql">true</property>
        
        <mapping class="es.altair.bean.Usuario"/>
        <mapping class="es.altair.bean.Cita"/>
        <mapping class="es.altair.bean.Empleado"/>
        <mapping class="es.altair.bean.Servicio"/>
        <mapping class="es.altair.bean.Tiempo"/>
        <mapping class="es.altair.bean.TiempoEmpleado"/>
        <mapping class="es.altair.bean.Percentual"/>
        <mapping class="es.altair.bean.Log"/>
    </session-factory>
    
    <!-- 
        <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">b9c3f278</property>
        <property name="hibernate.connection.url">us-cdbr-azure-central-a.cloudapp.net/hairdb</property>
        <property name="hibernate.connection.username">bca9a7a997a820</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.show_sql">true</property>
        
        <mapping class="es.altair.bean.Usuario"/>
        <mapping class="es.altair.bean.Cita"/>
        <mapping class="es.altair.bean.Empleado"/>
        <mapping class="es.altair.bean.Servicio"/>
        <mapping class="es.altair.bean.Tiempo"/>
        <mapping class="es.altair.bean.TiempoEmpleado"/>
    </session-factory>
    
     -->
</hibernate-configuration>
